$color-white: #fff;
$color-red: #e84545;
$color-grey: #6c7279;
$color-grey-2: #2d3033;

$color-text: $color-white;
$color-text2: $color-grey;
$color-title-article: $color-grey-2;
$color-bg: $color-white;

//btn
$btn-bg: $color-red;